@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;}

:root{
    --main-clr: #5FCDA0;
    --second-clr: #023D4F;
    --white-clr: #fff;}

::-webkit-scrollbar{
	width: 9px;
	background: var(--second-clr);}

::-webkit-scrollbar-thumb{
	background: var(--main-clr);}

/*PRELOADER*/

#contenedor-carga{
	background: #fff;
  	width: 100%;
  	height: 100vh;
  	position: fixed;
  	transition: all 1s ease;
  	z-index: 1000;}

#contenedor-carga__thumb{
  display: block;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
  border: 1.5px solid #fff;
  border-color: var(--main-clr) var(--main-clr) var(--main-clr) transparent;
  animation: carga 1.2s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;}

@keyframes carga{
  0%{
    transform: rotate(0deg);}
  100%{
    transform: rotate(360deg);}}

.header{
	width: 100%;
	height: 60px;
	z-index: 200;
	border-bottom: 3px solid var(--main-clr);
	box-shadow: 1px 0 16px rgba(0, 0, 0, .8);}

.logo{
	width: 80px;
	height: 80px;}

.logo img{
	width: 80px;
	height: 80px;
	position: absolute;
	border-radius: 100px;
	padding: 4px;
	background: #fff;
	top: 58px;
	z-index: 100;
  	left: 50%;
  	transform: translate(-50%, -50%);}

.nav-bar ul{
	height: 60px;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;}

.nav-bar a{
	text-decoration: none;
    color: var(--second-clr);
    text-align: center;
    font-weight: 700;
    border-bottom: 2px solid var(--main-clr);
    transition: .3s;}

.header__a:hover{
	color: var(--main-clr);}

/*NAV RESPONSIVE*/

#checkbtn, #check, #close{
	display: none;}

#checkbtn, #close{
    color: var(--main-clr);
	text-align: center;
	width: 24px;
	transition: .5s;
	cursor: pointer;}

@media (max-width: 768px){

	.header{
		height: 88px;
		z-index: 200;
		display: flex;
		justify-content: space-around;
		align-items: center;}

	.logo{
		width: 70px;
		height: 70px;}

	.logo img{
		width: 70px;
		height: 70px;
		position: relative;
		top: auto;
		padding: 0;
		left: auto;
  		transform: translate(0, 0);}

	#checkbtn{
		display: block;}

	#checkbtn:active, #close:active{
		transform: translateY(10px);}

	#checkbtn i, #close i{
		font-size: 32px;
		color: var(--main-clr);}

	.nav-bar{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: -100%;
		width: 100%;
		height: 20vh;
		z-index: 100;
		background: var(--second-clr);
		transition: .3s;}

    .nav-bar ul{
		height: 20vh;
		justify-content: center;
		align-items: center;
        flex-direction: column;
		gap: 30px;}

	.nav-bar a{
		color: var(--main-clr);
		border-bottom: 0;
		padding: 10px;
		border-radius: 6px;
		transition: .4s;}

	.nav-bar a:hover{
		background: var(--main-clr);
		color: var(--second-clr);}

	#check:checked ~ .nav-bar{
		top: 85px;
		transition: .3s;}
		
	#check:checked ~ #checkbtn{
		display: none;}

		#check:checked ~ #close{
		display: block;}}

/* SLIDER */

.slider{
	width: 100%;
	overflow: hidden;}

.slider-contenedor{
	display: flex;
	align-items: center;
	flex-shrink: 0;
	width: 100%;}

.ctn-slider{
	padding: 40px;
	width: 100%;
	height: 80vh;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 20px;}

.ctn-slider #contenido{
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap-reverse;
	-moz-flex-wrap: wrap-reverse;
	-ms-flex-wrap: wrap-reverse;
	-o-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;}

.ctn-slider-order{
	-ms-align-items: center;
	align-items: center;}

.ctn-slider-order h1 i, .ctn-slider-order h2 i{
	padding: 20px;
	animation: down .6s infinite;}

@keyframes down{
	0%{
		transform: translateY(0px);}
	50%{
		transform: translateY(10px);}
	100%{
		transform: translateY(0px);}}

.ctn-slider #contenido div{
	width: 65%;}

.ctn-slider-order #contenido div{
	width: 100%;}

.ctn-slider img{
	width: 330px;
	height: auto;
	border-radius: 16px;}

#section1{
	background: url(../img/img1.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
    background-position: center;}

#section2{
	background: url(../img/img3.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
    background-position: center;}

#section3{
	background: url(../img/img2.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
    background-position: center;}	

.ctn-slider h1, .ctn-slider h2{
	color: #121212;
	font-weight: 300;
	font-size: 36px;}

.ctn-slider-order h1, .ctn-slider-order h2{
	color: #121212;}


.ctn-slider a{
	margin: 30px 0;
	padding: 15px;
	display: inline-block;
	color: #fff;
	background: #121212;
	border-radius: 6px;
	text-decoration: none;
	font-size: 18px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	border: 2px solid #707070}

.ctn-slider a:hover{
	background: #707070;}

@media (max-width: 768px){
	.ctn-slider h1, .ctn-slider h2{
		font-size: 22px;}

	.ctn-slider #contenido div{
		width: 100%;
		text-align: center;}

	.ctn-slider img{
		width: 230px;}

    .ctn-slider{
        height: 50vh;}

	.ctn-slider #contenido{
		justify-content: center;}}

.page{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;}

.start{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;}

.start__h1{
    text-align: center;
    color: var(--second-clr);
    font-size: 26px;
    font-weight: 500;
    line-height: 0.8;}

.start__h1 span{
    font-size: 18px;
    font-weight: 500;}

.collage{
    width: 90%;}

.reserve{
	width: 100%;
	padding: 70px;
	background: linear-gradient(120deg, rgba(2, 61, 79, 0.7) 0%, rgba(95, 205, 159, 0.5) 100%), url(../img/constanza.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
    background-position: center 70%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;}

.reserve__h2{
	text-align: center;
	font-size: 26px;
	color: var(--white-clr);
	font-weight: 400;}	

.reserve__a{
	text-decoration: none;
	border: 2px solid var(--second-clr);
	color: var(--main-clr);
	background: var(--second-clr);
	padding: 15px 65px;
	transition: .3s;
	font-weight: 500;
	border-radius: 6px;}

.reserve__a:hover{
	background: transparent;
	border: 2px solid var(--main-clr);}

#rutas{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 30px;}

.rutas__h2{
	font-weight: 500;
	color: var(--second-clr);}

.cards{
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;}

.card{
	position: relative;
	width: 320px;
	border-radius: 16px;
	height: 440px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);}

.card__info{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	color: var(--white-clr);
	background: rgb(95, 205, 160, .6);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;}

.card__info h3{
	font-weight: 500;}

.card__info p{
	text-align: center;}

.card1{
	background-image: url(../img/manzanillo.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
    background-position: center;}

.card2{
	background-image: url(../img/concorde.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
    background-position: center;}

.card3{
	background-image: url(../img/constanza2.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
    background-position: center;}

#contact{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	background: var(--second-clr);
	border-radius: 16px;
	padding: 17px 75px;}

#contact h3{
	font-weight: 500;
	color: var(--main-clr);}

#contact form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;}

#contact label{
	color: var(--main-clr);
	display: flex;
	gap: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;}

#contact input, textarea{
	border: 2.5px solid var(--second-clr);
	padding: 8px;
	resize:vertical;
	outline: none;
	border-radius: 4px;
	transition: .3s;}

#contact input:hover, textarea:hover{
	border: 2.5px solid var(--main-clr);}

#contact textarea{
	height: 60px;}

#contact .enviar{
	border: 2px solid var(--main-clr);
	font-size: 17px;
	font-weight: 600;
	border-radius: 6px;
	outline: none;
	background: var(--main-clr);
	color: var(--second-clr);
	cursor: pointer;
	transition: .3s;
	padding: 14px 70px;}

#contact .enviar:hover{
	background: transparent;
	color: var(--main-clr);
	border: 2px solid var(--main-clr);}

footer{
	width: 100%;
	background: var(--second-clr);}

footer .contenedor{
	width: 100%;
	gap: 30px 0;
	display: flex;
	flex-wrap: wrap;
	padding: 120px 80px;
	justify-content: center;}

.sides{
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;}

.sides .button{
	text-decoration: none;
	font-weight: 600;
	padding: 10px 14px;
	border: 2px solid var(--main-clr);
	border-radius: 12px;
	background: var(--main-clr);
	color: var(--second-clr);
	transition: .3s;
	margin: 12px;}

.sides .button:hover{
	background: transparent;
	color: var(--main-clr);}

.sides p{
	text-align: center;
	width: 250px;
	font-size: 20px;
	color: #fff;}

.sides .socials{
	display: flex;
	justify-content: center;
	gap: 20px;
	align-items: center;
	flex-direction: column;}

.social p{
	font-weight: 600;}

.social a{
	margin: 5px 0;
	display: inline-block;
	text-decoration: none;
	color: var(--main-clr);
	font-size: 28px;
	text-align: center;
	transition: .3s;}

.social a:hover{
	transform: translateY(-5px);}

.sub-foot{
	background: var(--main-clr);
	color: var(--second-clr);
	padding: 12px;
	text-align: center;
	font-weight: 500;}

.sub-foot a{
	color: var(--second-clr);
}

@media (max-width: 635px){
    
    .page{
        gap: 40px;}

    .start__h1{
        font-size: 22px;}

    .start__h1 span{
        font-size: 16px;}
    
    .reserve__h2{
        font-size: 22px;}}